@model IEnumerable<MarketLocalShirts3.Models.Producto>

<h2 class="text-white">Panel de administración productos</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Agregar producto</a>

<table class="table table-dark table-bordered">
    <thead>
        //  tabla de productos 
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Marca</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td><img src="~/imagenes/@p.Imagen" width="80" /></td>
                <td>@p.NombreProducto</td>
                <td>@p.Precio</td>
                <td>@p.Stock</td>
                <td>@p.IdMarcaNavigation.NombreMarca</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@p.IdProducto" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@p.IdProducto" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>