@model IEnumerable<MarketLocalShirts3.Models.Usuario>

<h2 class="text-white">Panel de administración  de usuarios</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Agregar usuario</a>

<form asp-action="Index"
      method="get"
      class="d-flex">

    <input type="text"
           name="buscar"
           class="form-control me-2"
           placeholder="Buscar usuario..."
           value="@Context.Request.Query["buscar"]" />

    <button type="submit"
            class="btn btn-success">
        Buscar
    </button>

</form>

<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Activo</th>
            <th>Fecha Registro</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Ciudad</th>
            <th>Acciones</th>

           
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Nombre</td>
                <td>@u.Email</td>
                <td>@u.Rol?.Nombre</td>
                <td>@(u.EsActivo ? "Sí" : "No")</td>
                <td>@u.FechaRegistro</td>
                <td>@u.Cliente?.Direccion</td>
                <td>@u.Cliente?.Telefono</td>
                <td>@u.Cliente?.Ciudad</td>

                <td>
                    <a asp-action="Edit"
                       asp-route-id="@u.Id"
                       class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a asp-action="Bloquear"
                       asp-route-id="@u.Id"
                       class="btn btn-secondary btn-sm">
                        Bloquear
                    </a>

                    <form asp-action="Delete"
                          asp-route-id="@u.Id"
                          method="post"
                          style="display:inline">

                        <button class="btn btn-danger btn-sm"
                                onclick="return confirm('¿Eliminar el usuario?')">
                            Eliminar usuario 
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>