@model IEnumerable<MarketLocalShirts3.Models.Pedido>

<div class="d-flex justify-content-between align-items-center mb-4">

    <h2 class="text-white m-0 flex-grow-1 text-center">
        Mis pedidos 
    </h2>
</div>

<form method="get" class="row mb-4 justify-content-center align-items-center">

    <div class="col-md-3 mb-2">
        <input type="date"
               name="fecha"
               class="form-control shadow-sm"
               value="@Context.Request.Query["fecha"]" />
    </div>

    <div class="col-md-auto mb-2">
        <button type="submit" class="btn btn-success px-4 fw-bold shadow-sm">
            Buscar
        </button>

    </div>

</form>

<table class="table table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Detalle</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.FechaPedido.ToShortDateString()</td>
                <td>@p.Usuario?.Nombre</td>
                <td>@p.Estado</td>
                <td>
                    <a asp-action="DetallePedido"
                       asp-route-id="@p.Id"
                       class="btn btn-primary">
                        Ver detalle
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>